<div class="row mt-3">
    <!-- project overview -->
    <div class="col-md-3">

        <!--Card-->
        <div class="card card-cascade narrower">

            <!--Card image-->
            <div class="view overlay hm-white-slight waves-light" mdbWavesEffect>
                <img src="../../../../assets/logos/smartPunchLogo.jpg" class="img-fluid">
                <a>
                    <div class="mask"></div>
                </a>
            </div>
            <!--/Card image-->

        </div>
        <!--/.Card-->

        <!--Card-->
        <div class="card card-cascade narrower">

            <!--Card image-->
            <div class="view overlay hm-white-slight waves-light" mdbWavesEffect>
                <img src="../../../../assets/logos/KampfKunstKlubFuldaLogo.png" class="img-fluid">
                <a>
                    <div class="mask"></div>
                </a>
            </div>
            <!--/Card image-->

        </div>
        <!--/.Card-->

    </div>

    <div class="col-md">
        <div class="card card-cascade narrower">
            <!--Card content-->
            <div class="card-body text-center">
                <!--Title-->
                <h4 class="card-title font-bold mb-2">
                    <strong>Boxen für die Forschung</strong>
                </h4>
                <h6 class='text-justify'>
                    <strong>Vorwort</strong>
                </h6>
                <p class='text-justify'>Das Forschungsprojekt „smartPunch“ an der Hochschule Fulda analysiert mit Hilfe Künstlicher Intelligenz multivariate
                    Zeitreihen, konkreter: Bewegungsdaten, die über einen Beschleunigungssensor in einer Smartwatch gemessen
                    werden. Die Erfahrungen daraus könnten für die Unternehmen in der Region interessant werden.</p>
                <p class="text-justify">Es ist kein gewöhnliches Training an diesem Tag. Die Sportler des Kampf-Kunst-Klubs Fulda sind nacheinander
                    an der Reihe. Jeder schlägt einhundertmal frontal, einhundertmal von unten und einhundertmal von der
                    Seite. Erst mit der Linken, dann mit der Rechten. Die Smartwatch am Handgelenk registriert alles: Schlagrichtung,
                    Bewegungsablauf, Geschwindigkeit – und sogar den Namen des Boxers. Die Sportler sind konzentriert bei
                    der Sache. Dabei geht es gar nicht um ihre Bewegungsabläufe. Nicht einmal um den Boxsport. Zumindest
                    nicht direkt. An diesem Tag boxen sie für ein wissenschaftliches Projekt. Für das Training einer Maschine,
                    die später einmal selbstständig in der Lage sein soll, die verschiedenen Schläge richtig zu klassifizieren.
                    smartPunch haben die Forscher ihr Projekt genannt, mit dem sie Erfahrungen im Bereich des maschinellen
                    Lernens, also der Künstlichen Intelligenz (KI), sammeln wollen. Jeder Schlag wird registriert. 6000 werden
                    es am Ende dieses Tages sein.</p>

                <h6 class='text-justify'>
                    <strong>Künstliche Intelligenz greifbar machen</strong>
                </h6>
                <p class='text-justify'>Was dahinter steckt, erklären Tobias Wagner und Jonas Jäger. Die beiden Ingenieure an der Hochschule Fulda
                    – Jäger schreibt an seiner Doktorarbeit, Wagner an seiner Masterarbeit – haben das Projekt konzipiert.
                    Ihre Motivation: An einem leicht verständlichen Beispiel wollen sie zeigen, wie Künstliche Intelligenz
                    sinnvoll eingesetzt werden kann und damit die Akzeptanz erhöhen – in der Bevölkerung, unter Studierenden
                    und in Unternehmen, denn hier bietet KI zur Zeitreihenklassifizierung viele Einsatzmöglichkeiten. „Wir
                    wollen KI zum Anfassen präsentieren – von der Datensammlung über das Training der Maschine, also der
                    Algorithmen, bis zur automatischen Klassifikation“, sagt Tobias Wagner. „Denn wir haben festgestellt,
                    dass oftmals noch nicht klar ist, wie vielfältig sich KI einsetzen lässt“. Und das soll sich ändern,
                    wenn es nach den beiden Fuldaer Forschern geht.</p>
                <h6 class='text-justify'>
                    <strong>Warum ausgerechnet Boxschläge - 3 Gründe</strong>
                </h6>
                <ul style="list-style-type:disc;">
                    <li style="text-align:left">
                        Die Maschine muss zunächst lernen, die Bewegungsmuster, also die verschiedenen Schläge zu erkennen und zu unterscheiden.
                        Dafür brauchen die Forscher Daten, viele Daten. Boxschläge haben den Vorteil, dass sich sehr viele
                        in kurzer Zeit aufzeichnen lassen. Hierzu haben die Forscher eine App entwickelt, die die Beschleunigungsdaten
                        einer Smartwatch ausliest und aufzeichnet.
                    </li>
                    <li style="text-align:left">
                        Die Bewegungsdaten eines Boxschlags sind überschaubar und lassen sich noch manuell visualisieren. Das hilft, verständlich
                        zu machen, welche Daten genau verarbeitet werden.
                    </li>
                    <li style="text-align:left">
                        Das maschinelle Lernen setzt klare Definitionen voraus. Beim Boxen ist dies einfach: Schlagtyp, Schlaghand und Name müssen
                        registriert werden. „Wir hätten genauso gut Sensoren einer Industrieanlage auslesen können oder andere
                        Daten aus dem industriellen Umfeld aufzeichnen können Aber diese Daten hätten wir nicht so einfach
                        labeln können und wir hätten unter Umständen über einen deutlich längeren Zeitraum aufzeichnen müssen.
                        Boxschläge waren da schlichtweg praktikabler“, erklärt Tobias Wagner.
                    </li>
                </ul>
                <h6 class='text-justify'>
                    <strong>Es geht um Zeitreihen, um physikalische Größen</strong>
                </h6>
                <p class='text-justify'>
                    Worum es im Kern geht, sind sogenannte Zeitreihen, das heißt, zeitabhängige Daten und deren Auswertung durch KI. „Was wir
                    erfassen, sind Beschleunigungsdaten, also Daten einer ganz allgemeinen physikalischen Größe“, erklärt
                    Wagner, „Daten, wie sie auch in industriellen Fertigungs- und Prüfprozessen zu finden sind.“ Damit ist
                    das Projekt leicht übertragbar auf industrielle Fragestellungen. „Sensoren auf Produktionsstraßen liefern
                    eine Menge Daten“, erläutert Wagner. „Anders als bei den Boxschlägen sind sie aber zu komplex, als dass
                    sie durch den Menschen auswertbar wären.“ Das Problem: Damit stehen sie bislang auch nicht für Analysen
                    zur Verfügung, um Prozesse effektiver und optimierter zu gestalten.
                </p>
                <h6 class='text-justify'>
                    <strong>Anwendbar von der Industrie bis zum Gesundheitswesen</strong>
                </h6>
                <p class='text-justify'>
                    KI zum automatischen Klassifizieren von Zeitreihen ließe sich beispielsweise in der Qualitätssicherung einsetzen: „Schwingungsdaten
                    können Auskunft darüber geben, ob etwa in einem Gerät alle Bauteile korrekt platziert wurden. Fehlt eines,
                    ergibt sich ein anderes Muster der Schwingungsdaten und die KI kann das Produkt als fehlerhaft klassifizieren“,
                    erklärt Tobias Wagner. Aber es sind auch viele weitere Anwendungen denkbar. So lässt sich mit der Analyse
                    von Zeitreihen auch die Entwicklung von Populationen vorhersagen. Auch Prognosen zur Entwicklung von
                    Immobilienwerten sind möglich. In der Industrie, in Fertigungsprozessen, lässt sich frühzeitig kalkulieren,
                    wann mit dem Ausfall einer Maschine zu rechnen ist. Ebenfalls ließe sich die Auswertung von Zeitreihen
                    auch im Gesundheitswesen, zum Beispiel im Bereich der Sturzerkennung für Senioren einsetzen. Fast jede
                    Problemstellung, der zeitabhängige Daten zu Grunde liegen, könne man über die Verfahren der Zeitreihenklassifikation
                    analysieren.
                </p>

            </div>
            <!--/.Card content-->
            <div class="card-footer text-center">
                <h6 class='text-justify'>
                    <strong>Originalartikel von Dr. Antje Mohr (HS Fulda)</strong>
                </h6>
            </div>
        </div>
        <!--/.Card-->
    </div>



</div>